body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1;
    background-color: aliceblue;  
}

header {
text-align: center;
color: aliceblue;
background-color: #1a384a;
padding: 30px;
font-size: 48px;
font-family: 'Open Sans', sans-serif;
}

.search {
float: left;
margin: 10px;
background-color: lightgray;
text-align: center;
padding: 10px;
}


#citySearched {
float: left;
margin: 10px;
}

#search {
float: left;
margin: 10px;
border-radius: 10px; 
background-color: #34a0fd;   
}

.citiesList {
float: left;
align-content: center;
margin: 15px;
padding: 10px;
}

.cityAdded {
background-color: floralwhite;
margin: 10px;
text-align: center;
padding: 10px;
border-color: black;
border-radius: 5px;
border-width: 10px;
}

#results {
margin: 20px;
float: left;

}

#forecast {
float: right;
margin: 20px;
text-align: center;
padding: 20px;
     
}

p {
margin: 10px;
text-align: left;
}

.fivForecast {
margin: 10px;
background-color: dodgerblue;
border-radius: 5px;
padding: 20px;
padding-top: 30px;
padding-bottom: 30px;
float: left;
text-align: left;
}
